.contact {

    .wrapper {
        padding-right: 30%;
        position: relative;

        @include breakpoint(medium down) {
            padding-right: 0;
        }
    }

    .content {
        padding: rem-calc(165 80 80);

        @include breakpoint(large down) {
            padding: rem-calc(133 30 30);
        }
    }

    .contact-content {

        h2 {
            font-size: rem-calc(40);
            font-weight: 300;
            font-style: italic;
            margin: 0 0 rem-calc(30) 0;

            @include breakpoint(medium down) {
                font-size: rem-calc(27);
            }
        }

        a {
            color: $secondary-color;
        }

        p {
            font-size: rem-calc(26);
            line-height: 1.5;
            font-weight: 300;
            margin-bottom: rem-calc(30);

            @include breakpoint(medium down) {
                font-size: rem-calc(20);
            }

            @include breakpoint(small down) {
                font-size: rem-calc(14);
            }
        }
    }

    .contact-details {
        @include breakpoint(medium down) {
            position: relative;

            &:before {
                content: "";
                display: block;
                width: auto;
                padding-top: rem-calc(60);
                padding-bottom: 50%;
                position: relative;
                background: url(../images/sterrn_kontakt.jpg) no-repeat 50%;
                background-size: cover;
                margin: rem-calc(0 -30px 30px -30px);
            }
        }
    }

    .constact-social {

        p {
            margin: 0;
        }

        span {
            display: inline-block;
            margin: rem-calc(0 30);
        }
    }
}
