.home {

  .main {
    min-height: 0;
  }

  .navigation > .logo {
    display: none;

    @include breakpoint(large down) {
      display: block;
    }
  }

  .decor {
    width: 50%;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 0;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    @include breakpoint(large down) {
      position: relative;
      width: 100%;
      height: auto;
      left: auto;
      top: auto;
      flex-grow: 1;
    }
  }

  .wrapper {
    min-height: 0;
    min-height: 100%;

    @include breakpoint(large down) {
      display: flex;
      flex-direction: column;
      padding-top: rem-calc(103);
    }
  }

  .content {
    width: 50%;
    height: 100%;
    min-height: 100vh;
    padding: rem-calc(50 80);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    @include breakpoint(large down) {
      padding: rem-calc(30);
      order: 2;
      background: $primary-color;
      color: $secondary-color;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
    }

    h1 {
      font-size: rem-calc(44);
      letter-spacing: 0.075em;
      font-weight: 300;
      color: #223c39;
      text-transform: uppercase;
      line-height: 1.182;
      margin: 0;

      @include breakpoint(xlarge down) {
        font-size: rem-calc(40);
      }

      @include breakpoint(large down) {
        color: $secondary-color;
      }

      @include breakpoint(medium down) {
        font-size: rem-calc(27);
      }
    }

    @include breakpoint(large down) {
      width: 100%;
      height: auto;
      min-height: auto;
    }
  }
}

.home {

  .hero {
    .logo {
      position: absolute;
      left: 0;
      top: 0;
      padding: rem-calc(50 80);
      width: calc(50% - 103px);
      pointer-events: all;

      img {
        max-width: rem-calc(450);
        width: 100%;
        height: auto;
      }

      @include breakpoint(large down) {
        width: auto;
        height: rem-calc(103);
        padding: rem-calc(30);
        z-index: 110;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: rem-calc(28);
          width: auto;
        }
      }

      &:after {
        content: "";
        display: block;
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $white;
        z-index: 2;

        @include breakpoint(large down) {
          display: none;
        }

        .home & {
          display: none;
        }

        .page-template-template-contact & {
          width: 70%;
        }
      }

      a {
        position: relative;
        z-index: 10;
      }
    }
  }

  .specializations {
    display: flex;
    width: 100%;

    @include breakpoint(medium down) {
      display: block;
    }

    &-column {
      width: 50%;
      padding: rem-calc(65 80);

      @include breakpoint(large down) {
        padding: rem-calc(30);
      }

      @include breakpoint(medium down) {
        width: 100%;
      }

      &:first-child {
        background: #e3e8e3;
      }

      &:last-child {
        background: #d5dbd5;
      }

      h2 {
        color: #223c39;
        font-style: italic;
        line-height: 1.3;
        text-transform: uppercase;
        font-size: rem-calc(34);
        letter-spacing: 0.075rem;
        margin-bottom: rem-calc(45);

        @include breakpoint(large down) {
          margin-bottom: rem-calc(25);
        }

        @include breakpoint(small down) {
          font-size: rem-calc(22);
        }
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-bottom: rem-calc(45);

        @include breakpoint(large down) {
          margin-bottom: rem-calc(30);
        }

        li {

          a {
            font-size: rem-calc(24);
            line-height: rem-calc(40);
            color: #223c39;

            @include breakpoint(small down) {
              font-size: rem-calc(18);
              line-height: rem-calc(21);
            }
          }
        }
      }

      > a:last-child {
        font-size: rem-calc(18);
        text-transform: uppercase;
        color: #223c39;
        display: inline-block;
        padding-left: rem-calc(30);
        position: relative;

        &:before {
          content: '';
          display: block;
          width: rem-calc(13);
          height: rem-calc(13);
          background: url(../images/link-arrow-home.png) no-repeat center center;
          background-size: contain;
          position: absolute;
          left: 0;
          top: rem-calc(4);

          @include breakpoint(small down) {
            top: rem-calc(0);
          }
        }

        @include breakpoint(small down) {
          font-size: rem-calc(12);
          padding-left: rem-calc(20);
        }
      }
    }
  }

  .blog {
    padding: rem-calc(65 80);

    @include breakpoint(large down) {
      padding: rem-calc(30);
    }

    > h2 {
      display: inline-block;
      position: relative;
      font-size: rem-calc(19);
      line-height: rem-calc(30);
      letter-spacing: 0.075em;
      color: $secondary-color;
      text-transform: uppercase;
      margin-bottom: rem-calc(65);

      @include breakpoint(large down) {
        margin-bottom: rem-calc(30);
      }

      @include breakpoint(medium down) {
          font-size: rem-calc(14);
          line-height: rem-calc(21);
      }

      &:after {
          content: '';
          display: block;
          width: 100%;
          height: rem-calc(2);
          background: $secondary-color;
          position: absolute;
          left: 0;
          bottom: 0;
      }
    }

    .blog-row {
      display: flex;

      @include breakpoint(medium down) {
          display: block;
      }
    }

    .blog-column {
      width: 50%;

      @include breakpoint(medium down) {
          width: 100%;
      }

      &:first-child {
        padding-right: rem-calc(55);

        @include breakpoint(medium down) {
            padding-right: 0;
            padding-bottom: rem-calc(30);
            margin-bottom: rem-calc(30);
            border-bottom: rem-calc(1) solid #ebefeb;
        }
      }

      &:last-child {
        padding-left: rem-calc(55);
        border-left: rem-calc(1) solid #ebefeb;

        @include breakpoint(medium down) {
            padding-left: 0;
            border: 0;
        }
      }
    }

    .post {

      .byline {
        color: #8caa8e;
        margin-bottom: rem-calc(5);
      }

      .entry-content {

        h2 {
          font-size: rem-calc(24);
          color: #223c39;

          a {
            color: #223c39;
          }
        }
      }

      .more {

        a {
          font-size: 18px;
          text-transform: uppercase;
          color: #8caa8e;
          display: inline-block;
          padding-left: rem-calc(30);
          position: relative;

          &:before {
            content: '';
            display: block;
            width: rem-calc(13);
            height: rem-calc(13);
            background: url(../images/link-arrow-home-light.png) no-repeat center center;
            background-size: contain;
            position: absolute;
            left: 0;
            top: rem-calc(4);

            @include breakpoint(small down) {
              top: rem-calc(0);
            }
          }

          @include breakpoint(small down) {
            font-size: rem-calc(12);
            padding-left: rem-calc(20);
          }
        }
      }
    }
  }
}
