@font-face {
  font-family: 'Simplon Norm';
  src: url('../fonts/subset-SimplonNorm-Light.eot');
  src: url('../fonts/subset-SimplonNorm-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-SimplonNorm-Light.woff2') format('woff2'),
  url('../fonts/subset-SimplonNorm-Light.woff') format('woff'),
  url('../fonts/subset-SimplonNorm-Light.ttf') format('truetype'),
  url('../fonts/subset-SimplonNorm-Light.svg#SimplonNorm-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Simplon Norm';
  src: url('../fonts/subset-SimplonNorm-Bold.eot');
  src: url('../fonts/subset-SimplonNorm-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-SimplonNorm-Bold.woff2') format('woff2'),
  url('../fonts/subset-SimplonNorm-Bold.woff') format('woff'),
  url('../fonts/subset-SimplonNorm-Bold.ttf') format('truetype'),
  url('../fonts/subset-SimplonNorm-Bold.svg#SimplonNorm-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Simplon Norm';
  src: url('../fonts/subset-SimplonNorm-BoldItalic.eot');
  src: url('../fonts/subset-SimplonNorm-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-SimplonNorm-BoldItalic.woff2') format('woff2'),
  url('../fonts/subset-SimplonNorm-BoldItalic.woff') format('woff'),
  url('../fonts/subset-SimplonNorm-BoldItalic.ttf') format('truetype'),
  url('../fonts/subset-SimplonNorm-BoldItalic.svg#SimplonNorm-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Simplon Norm';
  src: url('../fonts/subset-SimplonNorm-RegularItalic.eot');
  src: url('../fonts/subset-SimplonNorm-RegularItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-SimplonNorm-RegularItalic.woff2') format('woff2'),
  url('../fonts/subset-SimplonNorm-RegularItalic.woff') format('woff'),
  url('../fonts/subset-SimplonNorm-RegularItalic.ttf') format('truetype'),
  url('../fonts/subset-SimplonNorm-RegularItalic.svg#SimplonNorm-RegularItalic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Simplon Norm';
  src: url('../fonts/subset-SimplonNorm-Regular.eot');
  src: url('../fonts/subset-SimplonNorm-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-SimplonNorm-Regular.woff2') format('woff2'),
  url('../fonts/subset-SimplonNorm-Regular.woff') format('woff'),
  url('../fonts/subset-SimplonNorm-Regular.ttf') format('truetype'),
  url('../fonts/subset-SimplonNorm-Regular.svg#SimplonNorm-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Simplon Norm';
  src: url('../fonts/subset-SimplonNorm-Medium.eot');
  src: url('../fonts/subset-SimplonNorm-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-SimplonNorm-Medium.woff2') format('woff2'),
  url('../fonts/subset-SimplonNorm-Medium.woff') format('woff'),
  url('../fonts/subset-SimplonNorm-Medium.ttf') format('truetype'),
  url('../fonts/subset-SimplonNorm-Medium.svg#SimplonNorm-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Simplon Norm';
  src: url('../fonts/subset-SimplonNorm-MediumItalic.eot');
  src: url('../fonts/subset-SimplonNorm-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-SimplonNorm-MediumItalic.woff2') format('woff2'),
  url('../fonts/subset-SimplonNorm-MediumItalic.woff') format('woff'),
  url('../fonts/subset-SimplonNorm-MediumItalic.ttf') format('truetype'),
  url('../fonts/subset-SimplonNorm-MediumItalic.svg#SimplonNorm-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Simplon Norm';
  src: url('../fonts/subset-SimplonNorm-LightItalic.eot');
  src: url('../fonts/subset-SimplonNorm-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-SimplonNorm-LightItalic.woff2') format('woff2'),
  url('../fonts/subset-SimplonNorm-LightItalic.woff') format('woff'),
  url('../fonts/subset-SimplonNorm-LightItalic.ttf') format('truetype'),
  url('../fonts/subset-SimplonNorm-LightItalic.svg#SimplonNorm-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

.parallax__container {
  clip: rect(0, auto, auto, 0);
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -100;
}

.parallax {
  position: fixed;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 100%;

  /* BG behaviour */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: 'Simplon Norm';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Simplon Norm';
}

.header-underlined {
  font-family: Simplon Norm;
  font-size: rem-calc(16);
  font-weight: 500;
  letter-spacing: 0.075em;
  display: inline-flex;
  text-transform: uppercase;
  border-bottom-width: rem-calc(2);
  border-bottom-width: 100%;
  border-bottom-style: solid;
  margin-bottom: rem-calc(32);

  &.white {
    color: $white;
    border-color: $white;
  }

  &.green {
    color: #8CAA8E;
    border-color: #8CAA8E;
  }
}

.button {
  font-size: rem-calc(16);
  text-transform: uppercase;
  font-weight: 500;
  border-width: rem-calc(2);
  padding: rem-calc(14 30);
  min-width: rem-calc(195);
  letter-spacing: 0.075em;
  position: relative;

  &.hollow {
    border-width: rem-calc(2);

    > * {
      position: relative;
      z-index: 2;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 0;
      left: 0;
      bottom: 0;
      background: #223C39;
      z-index: 1;
      transition: all 0.35s ease;
    }

    &:hover {
      color: $white;
    }

    &:hover:before {
      height: 100%;
    }

    &.white {
      border: rem-calc(2) solid $white;
      color: $white;

      &:before {
        background: $white;
      }

      &:hover {
        color: #223C39;
      }
    }
  }
}

.grid-container {
  max-width: rem-calc(1140);
}

hr {
  border: 0;
  border-bottom: 2px solid #8CAA8E;
  width: rem-calc(54);
  margin-right: auto;
  margin-left: 0;
  margin: rem-calc(55 0);
}

.ipbox {

  .hero {
    position: relative;
    padding: rem-calc(0 20);

    .grid-container {
      position: relative;
      padding: rem-calc(0 40);

      @media (max-width: rem-calc(640)) {
        padding: rem-calc(0 10);
      }
    }

    &__logo {
      position: absolute;
      top: rem-calc(85);
      left: rem-calc(40);

      @media (max-width: rem-calc(640)) {
        left: rem-calc(10);
      }

      @media (max-width: rem-calc(480)) {
        width: rem-calc(260);
        top: rem-calc(55);
      }
    }

    &__bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    &__image {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    &__parallax {
      height: 100%;
    }

    &__wrapper {
      height: 100%;
      max-width: rem-calc(720);
      padding-bottom: rem-calc(105);
      padding-top: rem-calc(275);

      @include breakpoint(large down) {
        padding-top: rem-calc(220);
        padding-bottom: rem-calc(70);
      }

      @media (max-width: rem-calc(480)) {
        padding-top: rem-calc(180);
      }

      .grid-container {
        width: 100%;
        height: 100%;
        min-height: rem-calc(720);
        position: relative;

        @include breakpoint(large down) {
          min-height: 0;
        }
      }
    }

    &__header-big {
      font-size: rem-calc(36);
      letter-spacing: 0.075em;
      line-height: 1.22;
      text-transform: uppercase;
      color: $white;
      margin-bottom: rem-calc(44);

      @media (max-width: rem-calc(480)) {
        font-size: rem-calc(30);
        margin-bottom: rem-calc(32);
      }
    }

    &__text {
      font-size: rem-calc(28);
      font-weight: 300;
      color: $white;
      margin-bottom: rem-calc(44);
      letter-spacing: 0.075em;

      @media (max-width: rem-calc(480)) {
        font-size: rem-calc(20);
        margin-bottom: rem-calc(32);
      }
    }

    .button {
      margin: 0;
    }

    &__arrow {
      position: absolute;
      width: rem-calc(42);
      height: rem-calc(273);
      background: url(../images/hero-arrow.svg) no-repeat center center;
      right: rem-calc(40);
      bottom: rem-calc(105);
      cursor: pointer;

      @include breakpoint(large down) {
        display: none;
      }
    }
  }

  .about {
    padding: rem-calc(90 40 130);

    @include breakpoint(large down) {
      padding: rem-calc(60 40);
    }

    @media (max-width: rem-calc(640)) {
      padding: rem-calc(60 20);
    }

    &__content {
      padding-left: rem-calc(95);
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;

      @include breakpoint(medium down) {
        padding-left: 0;
      }

      .button {
        margin: rem-calc(55 0 0 0);
      }
    }

    &__text {

      h2 {
        font-size: rem-calc(36);
        letter-spacing: 0.05em;

        @media (max-width: rem-calc(480)) {
          font-size: rem-calc(30);
        }
      }

      p {
        font-size: rem-calc(22);
        line-height: 1.6;
        margin-bottom: 0;
        letter-spacing: 0.05em;

        @media (max-width: rem-calc(480)) {
          font-size: rem-calc(20);
        }

        + p {
          margin-top: rem-calc(30);
        }
      }
    }

    &__image {
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .savings {
    padding: rem-calc(50 40);
    background: #223C39;

    @include breakpoint(large down) {
      padding: rem-calc(50 40);
    }

    @include breakpoint(small down) {
      padding: rem-calc(50 20);
    }

    &__image {
      height: rem-calc(390);
      z-index: 10;

      @include breakpoint(small down) {
        height: 55vw;
      }
    }

    &__text {

      h2 {
        font-weight: 300;
        font-size: rem-calc(44);
        letter-spacing: 0.05em;
        line-height: 1.3;
        color: #8caa8e;
        text-transform: uppercase;
        margin-bottom: rem-calc(50);

        @include breakpoint(medium down) {
          font-size: rem-calc(32);
        }

        @media (max-width: rem-calc(480)) {
          font-size: rem-calc(30);
        }
      }

      .button {
        margin-bottom: 0;
      }
    }

    &__table {
      color: $white;
      border-spacing: collapse;

      + .savings__cta {
        margin-top: rem-calc(50);
      }

      table {
        width: 100%;
      }

      th, td {
        text-align: left;
      }

      th {
        font-weight: normal;
        font-size: rem-calc(16);
        letter-spacing: 0.025em;
        line-height: 1.5;
        padding-bottom: rem-calc(22);
        padding-right: rem-calc(50);

        @include breakpoint(medium down) {
          padding-right: rem-calc(15);
        }

        @media (max-width: rem-calc(480)) {
          font-size: rem-calc(12);
        }

        &:last-child {
          font-weight: bold;
          padding-right: 0;

          @include breakpoint(medium down) {
            padding-right: 0;
          }
        }
      }

      td {
        font-weight: 300;
        font-size: rem-calc(28);
        letter-spacing: 0.025em;
        line-height: 1.4;
        padding: rem-calc(22 0);
        border-top: rem-calc(2) solid #8caa8e;

        @include breakpoint(small down) {
          font-size: rem-calc(18);
        }

        @media (max-width: rem-calc(480)) {
          font-size: rem-calc(16);
        }

        &:last-child {
          font-weight: bold;
        }
      }

      tr:last-child {

        td {
          padding-bottom: 0;
        }
      }
    }

    &__text {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .process {
    padding: rem-calc(70 40);

    @include breakpoint(large down) {
      padding: rem-calc(50 40);
    }

    @include breakpoint(small down) {
      padding: rem-calc(50 20);
    }

    &__step {
      padding-left: rem-calc(130);
      position: relative;

      @include breakpoint(large down) {
        padding-left: rem-calc(50);
      }

      @media (max-width: rem-calc(480)) {
        padding-left: rem-calc(30);
      }
    }

    &__step-content {
      padding-top: rem-calc(22);
      padding-bottom: rem-calc(22);

      h3 {
        font-size: rem-calc(32);
        letter-spacing: 0.075em;
        line-height: 1.4;
        color: #223c39;
        margin-bottom: rem-calc(44);

        @include breakpoint(large down) {
          font-size: rem-calc(27);
          line-height: 1.3;
          margin-bottom: rem-calc(8);
        }

        @media (max-width: rem-calc(480)) {
          font-size: rem-calc(25);
        }
      }

      p {
        font-size: rem-calc(18);
        letter-spacing: 0.075em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__step-number {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      display: flex;
      align-items: flex-start;
      padding-top: rem-calc(22);

      &:after {
        content: '';
        display: block;
        height: rem-calc(2);
        width: rem-calc(54);
        background: #8caa8e;
        bottom: 0;
        left: 0;
        position: absolute;

        @include breakpoint(large down) {
          display: none;
        }
      }

      span {
        font-size: rem-calc(32);
        letter-spacing: 0.08em;
        line-height: 1.4;
        color: #8caa8e;

        @include breakpoint(large down) {
          font-size: rem-calc(27);
          line-height: 1.3;
        }

        @media (max-width: rem-calc(480)) {
          font-size: rem-calc(25);
        }
      }
    }

    &__step {

      &:first-child {

        .process__step-content {
          padding-top: 0;
        }

        .process__step-number {
          align-items: flex-start;
          padding-top: 0;
        }
      }
    }
  }

  .testimonials {
    padding: rem-calc(44 40 65);
    background: #223C39;
    color: $white;

    @include breakpoint(medium down) {
      padding: rem-calc(40 40 40);
    }

    @include breakpoint(small down) {
      padding: rem-calc(40 20 40);
    }

    &__item {
      text-align: center;
      padding-bottom: rem-calc(140);

      @include breakpoint(medium down) {
        padding-bottom: rem-calc(105);
      }

      img {
        width: rem-calc(123);
        height: rem-calc(123);
        margin: 0 auto rem-calc(40) auto;
      }

      h3 {
        font-size: rem-calc(24);
        letter-spacing: 0.075em;
        line-height: 1.5;
        text-align: center;
        color: #8caa8e;
        margin-bottom: rem-calc(40);
      }

      p {
        font-size: rem-calc(18);
        letter-spacing: 0.05em;
        line-height: 1.5;
        text-align: center;
        color: #fff;
        max-width: rem-calc(780);
        margin: 0 auto;
      }
    }

    .swiper-pagination {
      bottom: rem-calc(57);

      @include breakpoint(medium down) {
        bottom: rem-calc(43);
      }

      .swiper-pagination-bullet {
        width: rem-calc(9);
        height: rem-calc(9);
        background: $white;
        margin: 0 rem-calc(8);
        opacity: 1;

        &.swiper-pagination-bullet-active {
          background: #8CAA8E;
        }
      }
    }
  }

  .faq {
    padding: rem-calc(70 40 90);

    @include breakpoint(large down) {
      padding: rem-calc(50 40);
    }

    @include breakpoint(small down) {
      padding: rem-calc(50 20);
    }

    h2 {
      font-size: rem-calc(54);
      letter-spacing: 0.075em;
      line-height: 1.1;
      color: #8caa8e;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: rem-calc(55);

      @include breakpoint(small down) {
        font-size: rem-calc(30);
        margin-bottom: rem-calc(40);
      }
    }

    .accordion {
      margin-bottom: 0;

      .accordion-title {
        padding-left: rem-calc(50);
        padding-right: rem-calc(44);
        font-size: rem-calc(24);
        letter-spacing: 0.075em;
        border: 0;
        border-top: rem-calc(1) solid #8CAA8E;
        background: transparent;

        @include breakpoint(small down) {
          padding-left: rem-calc(30);
        }

        &:before {
          content: '';
          width:  rem-calc(14);
          height: rem-calc(17);
          background: url(../images/arrow@2x.png) no-repeat center center;
          background-size: contain;
          transition: all 0.3s ease;
        }

        span {
          position: absolute;
          left: 0;
          color: #8CAA8E;
        }
      }

      .is-active .accordion-title:before {
        transform: rotate(180deg);
      }

      .accordion-content {
        border: 0;
        padding: rem-calc(0 50);
        font-size: rem-calc(18);
        letter-spacing: 0.05em;

        @include breakpoint(small down) {
          padding: rem-calc(0 40 0 30);
        }
      }
    }
  }

  .contact {
    padding: rem-calc(115 0);
    position: relative;

    @include breakpoint(small down) {
      padding: 0;

      .grid-container {
        padding: 0;
      }
    }

    &__image {
      height: rem-calc(390);
      z-index: 10;

      @include breakpoint(small down) {
        height: 55vw;
      }
    }

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &__parallax {
      height: 100%;
    }
  }
}

.contact__box {
  background: $white;
  padding: rem-calc(35 50);
  max-width: rem-calc(645);
  width: 100%;
  margin: 0 auto;

  @include breakpoint(large down) {
    padding: rem-calc(40 40);
  }

  @include breakpoint(small down) {
    padding: rem-calc(40 30);
  }

  h2 {
    font-size: rem-calc(24);
    letter-spacing: 0.075em;
    line-height: 1.3;
    text-align: left;
    color: #223c39;
  }

  [type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea {
    border: 0;
    box-shadow: none;
    background: #EBF2EB;
    line-height: rem-calc(17);
    padding: rem-calc(24 10 4 10);
    height: rem-calc(45);
    font-size: rem-calc(17);
    margin: 0;
  }

  .wpcf7-not-valid-tip {
    display: none !important;
  }

  .wpcf7-response-output {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
    border: 0 !important;
  }

  .wpcf7-form-control-wrap {
    position: relative;
    display: block;
  }

  textarea {
    height: rem-calc(90);
  }

  .wpcf7-form {

    .form-field {
      position: relative;
      margin-top: rem-calc(20);

      label {
        position: absolute;
        left: rem-calc(10);
        top: rem-calc(22);
        font-size: rem-calc(14);
        color: #9B9B9B;
        transform: translate3d(0,-50%,0);
        transform-origin: left center;
        z-index: 10;
        pointer-events: none;
        transition: all 0.35s ease;
      }

      .wpcf7-not-valid {
        border: 1px solid #dc3232;
      }

      &--filled label,
      &--focused label {
        top: rem-calc(13);
        transform: translate3d(0,-50%,0) scale(0.9);
      }
    }

    .form-acceptance {

      .wpcf7-list-item {
        margin: rem-calc(20 0);

        label {
          padding-left: rem-calc(25);
          position: relative;

          input {
            position: absolute;
            left: 0;
            top: 4px;
          }
        }
      }
    }

    .button {
      margin-bottom: 0;
    }

    .ajax-loader {
      top: rem-calc(10);
      margin: rem-calc(0 16);
    }
  }
}

#contact-modal {
  background: transparent;
  border: 0;
}

footer.footer--ip {
  padding: rem-calc(55 10);
  background: #223C39;
  color: #8CAA8E;
  font-size: rem-calc(14);

  @include breakpoint(large down) {
    padding: rem-calc(40 10);
  }

  @include breakpoint(small down) {
    padding: rem-calc(40 20);
  }

  img {
    @include breakpoint(small down) {
      margin-bottom: rem-calc(40);
    }
  }

  p {
    margin-bottom: 0;
    letter-spacing: 0.075em;

    @include breakpoint(small down) {
      margin-bottom: rem-calc(15);

      &:last-child {
        margin-bottom: 0;
      }
    }

    + p {
      margin-top: rem-calc(15);
    }
  }

  a {
    color: #8CAA8E;
  }

  .grid-x + .grid-x {
    margin-top: rem-calc(80);

    @include breakpoint(small down) {
      margin-top: rem-calc(40);
    }
  }
}

.popup-contact {
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;

  .contact__box {
    pointer-events: all;
    margin: 0;
    position: relative;

    .close-button {
      position: absolute;
      top: rem-calc(10);
      right: rem-calc(15);
      font-size: rem-calc(30);
      cursor: pointer;
      opacity: 0.5;
    }
  }
}

#contact-modal {

  @include breakpoint(large up) {
    width: rem-calc(645);
  }
}

.cookie-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: rem-calc(15 0);
  background: rgba(#223c39, 0.8);
  color: #8caa8e;
  z-index: 100;
  display: none;
  transition: all 0.5s ease;

  &.active {
    display: block;
  }

  &--accepted {
    transform: translate3d(0, 100%, 0);
  }

  a {
    color: #8caa8e;
    text-decoration: underline;
  }

  .cookie-bar-content {
    padding-right: rem-calc(80);
    position: relative;

    p {
      margin: 0;
    }

    .button {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate3d(0,-50%,0);
      min-width: 0;
      background: #8caa8e;
      padding: rem-calc(7 10);
    }
  }
}
