.main.page {

    .content {
        padding: rem-calc(165 80 80);

        @include breakpoint(large down) {
            padding: rem-calc(133 30 30);
        }
    }

    .page-content {

        h2 {
            margin: rem-calc(0 0 30 0);
            font-size: rem-calc(40);
            color: rgb(34, 60, 57);
            font-style: italic;
            line-height: 1.1;
            font-weight: 300;
            letter-spacing: 0.075em;

            &:first-child {
                margin-top: rem-calc(6);
            }

            @include breakpoint(medium down) {
                font-size: rem-calc(27);
            }
        }

        ul {
            list-style: none;
            margin-left: 0;
            margin-bottom: rem-calc(30);
            padding-left: rem-calc(30);
            letter-spacing: 0.05em;

            @include breakpoint(medium down) {
                padding-left: 0;
            }

            li {
                padding-left: rem-calc(50);
                position: relative;
                margin-bottom: rem-calc(6);

                @include breakpoint(medium down) {
                    padding-left: rem-calc(30);
                }

                &:before {
                    content: '';
                    display: block;
                    width: rem-calc(13);
                    height: rem-calc(2);
                    background: $secondary-color;
                    position: absolute;
                    left: rem-calc(20);
                    top: rem-calc(10);

                    @include breakpoint(medium down) {
                        left: 0;
                    }
                }
            }
        }
    }
}
