@font-face {
    font-family: 'Simplon Norm';
    src: url('subset-SimplonNorm-Light.eot');
    src: url('subset-SimplonNorm-Light.eot?#iefix') format('embedded-opentype'),
        url('subset-SimplonNorm-Light.woff2') format('woff2'),
        url('subset-SimplonNorm-Light.woff') format('woff'),
        url('subset-SimplonNorm-Light.ttf') format('truetype'),
        url('subset-SimplonNorm-Light.svg#SimplonNorm-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Simplon Norm';
    src: url('subset-SimplonNorm-Bold.eot');
    src: url('subset-SimplonNorm-Bold.eot?#iefix') format('embedded-opentype'),
        url('subset-SimplonNorm-Bold.woff2') format('woff2'),
        url('subset-SimplonNorm-Bold.woff') format('woff'),
        url('subset-SimplonNorm-Bold.ttf') format('truetype'),
        url('subset-SimplonNorm-Bold.svg#SimplonNorm-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Simplon Norm';
    src: url('subset-SimplonNorm-BoldItalic.eot');
    src: url('subset-SimplonNorm-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('subset-SimplonNorm-BoldItalic.woff2') format('woff2'),
        url('subset-SimplonNorm-BoldItalic.woff') format('woff'),
        url('subset-SimplonNorm-BoldItalic.ttf') format('truetype'),
        url('subset-SimplonNorm-BoldItalic.svg#SimplonNorm-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Simplon Norm';
    src: url('subset-SimplonNorm-RegularItalic.eot');
    src: url('subset-SimplonNorm-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('subset-SimplonNorm-RegularItalic.woff2') format('woff2'),
        url('subset-SimplonNorm-RegularItalic.woff') format('woff'),
        url('subset-SimplonNorm-RegularItalic.ttf') format('truetype'),
        url('subset-SimplonNorm-RegularItalic.svg#SimplonNorm-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Simplon Norm';
    src: url('subset-SimplonNorm-Regular.eot');
    src: url('subset-SimplonNorm-Regular.eot?#iefix') format('embedded-opentype'),
        url('subset-SimplonNorm-Regular.woff2') format('woff2'),
        url('subset-SimplonNorm-Regular.woff') format('woff'),
        url('subset-SimplonNorm-Regular.ttf') format('truetype'),
        url('subset-SimplonNorm-Regular.svg#SimplonNorm-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Simplon Norm';
    src: url('subset-SimplonNorm-Medium.eot');
    src: url('subset-SimplonNorm-Medium.eot?#iefix') format('embedded-opentype'),
        url('subset-SimplonNorm-Medium.woff2') format('woff2'),
        url('subset-SimplonNorm-Medium.woff') format('woff'),
        url('subset-SimplonNorm-Medium.ttf') format('truetype'),
        url('subset-SimplonNorm-Medium.svg#SimplonNorm-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Simplon Norm';
    src: url('subset-SimplonNorm-MediumItalic.eot');
    src: url('subset-SimplonNorm-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('subset-SimplonNorm-MediumItalic.woff2') format('woff2'),
        url('subset-SimplonNorm-MediumItalic.woff') format('woff'),
        url('subset-SimplonNorm-MediumItalic.ttf') format('truetype'),
        url('subset-SimplonNorm-MediumItalic.svg#SimplonNorm-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Simplon Norm';
    src: url('subset-SimplonNorm-LightItalic.eot');
    src: url('subset-SimplonNorm-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('subset-SimplonNorm-LightItalic.woff2') format('woff2'),
        url('subset-SimplonNorm-LightItalic.woff') format('woff'),
        url('subset-SimplonNorm-LightItalic.ttf') format('truetype'),
        url('subset-SimplonNorm-LightItalic.svg#SimplonNorm-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

