.about {

    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .content {
        padding: rem-calc(165 80 80);

        @include breakpoint(large down) {
            padding: rem-calc(118 30 30 30);
        }
    }

    .about-content-top {
        font-size: rem-calc(40);
        font-weight: 300;
        line-height: 1.2;

        p {
            line-height: 1.2;
            letter-spacing: 0.075em;
            font-style: italic;
        }

        @include breakpoint(medium down) {
            font-size: rem-calc(27);
        }

        *:last-child {
            margin: 0;
        }
    }

    .content-bottom {
        flex-grow: 1;
        position: relative;
        padding-left: 40%;

        @include breakpoint(medium down) {
            padding-left: 0;
        }

        &:before {
            content: '';
            display: block;
            width: 40%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: url(../images/sterrn_o_nas.jpg) no-repeat center center;
            background-size: cover;

            @include breakpoint(medium down) {
                width: 100%;
                height: auto;
                padding-bottom: 50%;
                position: relative;
            }
        }

        div {
            padding: 0 15% rem-calc(80) 15%;
            font-size: rem-calc(18);

            @include breakpoint(medium down) {
                padding: rem-calc(30);
            }

            @include breakpoint(small down) {
                font-size: rem-calc(14);
            }
        }
    }
}
