.home {

    @include breakpoint(large down) {
        height: 100vh;
    }

    .main {
        min-height: 0;

        @include breakpoint(large down) {
            height: 100vh;
        }
    }

    .decor {
        width: 50%;
        height: 100vh;
        position: absolute;
        left: 50%;
        top: 0;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;

        @include breakpoint(large down) {
            position: relative;
            width: 100%;
            height: auto;
            left: auto;
            top: auto;
            flex-grow: 1;
        }
    }

    .wrapper {
        min-height: 0;
        min-height: 100%;

        @include breakpoint(large down) {
            display: flex;
            flex-direction: column;
            padding-top: rem-calc(103);
        }
    }

    .content {
        width: 50%;
        height: 100%;
        min-height: 100vh;
        padding: rem-calc(50 80);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;

        @include breakpoint(large down) {
            padding: rem-calc(30);
            order: 2;
            background: $primary-color;
            color: $secondary-color;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
        }

        h1 {
            font-size: rem-calc(44);
            letter-spacing: 0.075em;
            font-weight: 300;
            color: #223c39;
            text-transform: uppercase;
            line-height: 1.182;
            margin: 0;

            @include breakpoint(xlarge down) {
                font-size: rem-calc(40);
            }

            @include breakpoint(large down) {
                color: $secondary-color;
            }

            @include breakpoint(medium down) {
                font-size: rem-calc(27);
            }
        }

        @include breakpoint(large down) {
            width: 100%;
            height: auto;
            min-height: auto;
        }
    }
}
