.services {

    .content {
        padding: rem-calc(165 80 80);

        @include breakpoint(large down) {
            padding: rem-calc(133 30 30 30);
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                margin: rem-calc(0 0 7 0);

                @include breakpoint(small down) {
                    margin: rem-calc(0 0 8 0);
                }

                h2 {
                    margin: 0;
                    font-size: rem-calc(42);
                    letter-spacing: 0.075em;
                    line-height: 1.2;
                    font-weight: 300;
                    position: relative;
                    display: inline-flex;

                    @include breakpoint(medium down) {
                        font-size: rem-calc(27);
                    }

                    @include breakpoint(small down) {
                        font-size: rem-calc(22);
                    }

                    &:after {
                        content: '';
                        display: block;
                        width: rem-calc(29);
                        height: rem-calc(29);
                        background: url(../images/arrow_specjalizacje-01.svg) no-repeat center center;
                        background-size: contain;
                        opacity: 0;
                        transform: translate3d(0, 10px, 0);
                        transition: all 0.35s ease;
                        margin: rem-calc(11);

                        @include breakpoint(medium down) {
                            margin: rem-calc(3 3 3 10);
                            width: rem-calc(25);
                            height: rem-calc(25);
                        }

                        @include breakpoint(small down) {
                            margin: rem-calc(2 2 2 10);
                            width: rem-calc(18);
                            height: rem-calc(18);
                        }
                    }

                    &:hover {

                        &:after {
                            opacity: 1;
                            transform: translate3d(0, 0, 0);
                        }
                    }

                    a {
                        width: 100%;
                        display: block;
                        color: $primary-color;
                    }
                }
            }
        }
    }
}
