.blog {

    .content {
        padding: rem-calc(165 80 50);

        @include breakpoint(large down) {
            padding: rem-calc(133 30 30);
        }
    }

    .blog-list {

        article {
            padding: rem-calc(13 0);
            border-bottom: rem-calc(1) solid #edf1ed;

            .article-header {
                margin-top: rem-calc(8);
                margin-bottom: rem-calc(3);
            }

            .byline {
                font-size: rem-calc(14);
                color: #8caa8e;
                margin: 0;

                @include breakpoint(medium down) {
                    font-size: rem-calc(13);
                }

                a {
                    color: #8caa8e;
                }
            }

            h2 {
                margin: 0;
                font-size: rem-calc(24);
                line-height: rem-calc(32);
                letter-spacing: 0.075em;
                font-weight: 300;
                position: relative;
                padding-right: rem-calc(40);

                @include breakpoint(medium down) {
                    font-size: rem-calc(22);
                    line-height: rem-calc(27);
                }

                &:after {
                    content: '';
                    display: block;
                    width: rem-calc(20);
                    height: rem-calc(20);
                    position: absolute;
                    right: 0;
                    top: rem-calc(5);
                    background: url(../images/arrow_blog-01.svg) no-repeat center center;
                    background-size: contain;
                    opacity: 0;
                    transform: translate3d(0, 10px, 0);
                    transition: all 0.35s ease;

                    @include breakpoint(small down) {
                        top: rem-calc(2);
                        width: rem-calc(18);
                        height: rem-calc(18);
                    }
                }

                &:hover {

                    &:after {
                        opacity: 1;
                        transform: translate3d(0, 0, 0);
                    }
                }

                a {
                    width: 100%;
                    display: block;
                    color: $primary-color;
                }
            }
        }
    }
}

.blog-prev-next {
    padding: rem-calc(50 0 0 0);
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        font-size: rem-calc(18);
        color: $secondary-color;
        text-transform: uppercase;
        line-height: 1.8;
        display: inline-block;
        position: relative;
    }

    .next {
        order: 1;

        a {
            padding-left: rem-calc(25);

            &:before {
                content: '';
                display: block;
                width: rem-calc(13);
                height: rem-calc(13);
                background: url(../images/arrow_down.svg) no-repeat center center;
                position: absolute;
                top: 50%;
                margin-top: rem-calc(-6.5);
                left: 0;
            }
        }
    }

    .prev {
        order: 2;

        a {
            padding-right: rem-calc(25);

            &:before {
                content: '';
                display: block;
                width: rem-calc(13);
                height: rem-calc(13);
                background: url(../images/arrow_down.svg) no-repeat center center;
                position: absolute;
                top: 50%;
                margin-top: rem-calc(-9);
                right: 0;
                transform: rotate(180deg);
            }
        }
    }
}

.blog-single {

    .article-header {
        margin-bottom: rem-calc(30);

        h1 {
            margin: 0;
            font-size: rem-calc(40);
            color: rgb(34, 60, 57);
            font-style: italic;
            font-weight: 300;
            line-height: 1.2;
            letter-spacing: 0.075em;
            font-style: italic;

            @include breakpoint(medium down) {
                font-size: rem-calc(27);
            }
        }
    }

    .article-footer {
        padding: rem-calc(50 0 0 0);

        a {
            font-size: rem-calc(18);
            color: $secondary-color;
            text-transform: uppercase;
            line-height: 1.8;
            display: inline-block;
            position: relative;
            padding-left: rem-calc(25);

            &:before {
                content: '';
                display: block;
                width: rem-calc(13);
                height: rem-calc(13);
                background: url(../images/arrow_down.svg) no-repeat center center;
                position: absolute;
                top: 50%;
                margin-top: rem-calc(-6.5);
                left: 0;
            }
        }
    }

    .entry-content {

        ol {
            padding-left: rem-calc(20);
        }

        ul {
            list-style: none;
            margin-left: 0;
            margin-bottom: rem-calc(30);
            padding-left: rem-calc(0);
            letter-spacing: 0.05em;

            @include breakpoint(medium down) {
                padding-left: 0;
            }

            li {
                padding-left: rem-calc(50);
                position: relative;
                margin-bottom: rem-calc(6);

                @include breakpoint(medium down) {
                    padding-left: rem-calc(30);
                }

                &:before {
                    content: '';
                    display: block;
                    width: rem-calc(13);
                    height: rem-calc(2);
                    background: $secondary-color;
                    position: absolute;
                    left: rem-calc(20);
                    top: rem-calc(10);

                    @include breakpoint(medium down) {
                        left: 0;
                    }
                }
            }
        }
    }
}
