.navigation {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    pointer-events: none;

    .logo {
        position: absolute;
        left: 0;
        top: 0;
        padding: rem-calc(50 80);
        width: calc(50% - 103px);
        pointer-events: all;

        img {
            max-width: rem-calc(450);
        }

        @include breakpoint(large down) {
            width: auto;
            height: rem-calc(103);
            padding: rem-calc(30);
            z-index: 110;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: rem-calc(28);
                width: auto;
            }
        }

        &:after {
            content: "";
            display: block;
            width: 100vw;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: $white;
            z-index: 2;

            @include breakpoint(large down) {
                display: none;
            }

            .home & {
                display: none;
            }

            .page-template-template-contact & {
                width: 70%;
            }
        }

        a {
            position: relative;
            z-index: 10;
        }
    }

    .sidebar {
        position: absolute;
        right: 0;
        top: 0;
        width: rem-calc(206);
        height: 100vh;
        background: $secondary-color;
        pointer-events: all;
        z-index: 100;
        padding-top: rem-calc(166);
        transition: width 0.5s ease;

        @include breakpoint(large down) {
            top: 0;
            left: 0;
            width: 100%;
            height: rem-calc(103);
            background: $secondary-color;
            padding: 0;
        }

        .home & {
            background: $primary-color;

            @include breakpoint(large down) {
                background: $white;
            }
        }

        .sidebar-decor {
            display: flex;
            position: absolute;
            width: 80px;
            height: 40px;
            top: 63px;
            left: -40px;

            > span {
                display: block;
                overflow: hidden;
                width: 40px;
                height: 40px;
                position: relative;

                &:first-child {

                    span {
                        content: "";
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 20px 20px 20px 0;
                        border-color: transparent $secondary-color transparent transparent;
                        position: absolute;
                        top: 0;
                        right: 0;
                        transform-origin: right center;
                        pointer-events: none;
                        transition: all 0.5s ease 0.5s;

                        .home & {
                            border-color: transparent $primary-color transparent transparent;
                        }

                        .nav-active & {
                            transform: translate3d(20px, 0, 0);
                            transition: all 0.5s ease;
                        }
                    }
                }

                &:last-child {

                    span {
                        content: "";
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 20px 0 20px 20px;
                        border-color: transparent transparent transparent $white;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform-origin: right center;
                        pointer-events: none;
                        transform: translate3d(-20px, 0, 0);
                        transition: all 0.5s ease;

                        .nav-active & {
                            transform: translate3d(0, 0, 0);
                            transition: all 0.5s ease 0.5s;
                        }
                    }
                }
            }
        }

        .nav-active & {
            width: calc(50% + 103px);

            @include breakpoint(large down) {
                width: 100%;
            }
        }

        .sidebar-toggle {
            position: absolute;
            top: 0;
            right: 0;
            width: rem-calc(206);
            padding: rem-calc(70);
            cursor: pointer;
            z-index: 20;

            @include breakpoint(large down) {
                width: rem-calc(90);
                height: rem-calc(103);
                padding: rem-calc(36 30);
                display: flex;
                align-items: center;
                justify-content: center;
            }

            > span {
                display: block;
                width: 100%;
                height: rem-calc(26);
                position: relative;

                @include breakpoint(large down) {
                    height: rem-calc(12);
                    width: rem-calc(27);
                }

                span {
                    display: block;
                    width: 100%;
                    height: rem-calc(3);
                    background: $primary-color;
                    position: absolute;
                    transform-origin: center center;

                    .home & {
                        background: $secondary-color;

                        @include breakpoint(large down) {
                            background: $primary-color;
                        }
                    }

                    &:first-child {
                        top: 0;
                        left: 0;
                        transition: all 0.5s ease;

                        .nav-active & {
                            top: 50%;
                            margin-top: rem-calc(-1.5);
                            transform: rotate(45deg);
                        }
                    }

                    &:last-child {
                        top: 100%;
                        left: 0;
                        transition: all 0.5s ease;

                        .nav-active & {
                            top: 50%;
                            bottom: auto;
                            margin-top: rem-calc(-1.5);
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }

        .sidebar-nav {
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            padding-top: rem-calc(166);
            z-index: 10;
            pointer-events: none;

            .nav-active & {
                pointer-events: all;
            }

            @include breakpoint(large up) {
                max-height: none !important;
            }

            @include breakpoint(large down) {
                width: 100%;
                padding-top: 0;
                background: $secondary-color;
                transition: all 0.5s ease 0.25s;
                pointer-events: none;

                .home & {
                    background: $white;
                }

                .nav-active & {
                    padding-top: rem-calc(88);
                    transition: all 0.5s ease;
                    pointer-events: all;
                    background: $secondary-color;
                }

                .nav-hidden & {
                    height: 0 !important;
                }
            }

            .menu {
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                padding: rem-calc(70 0);

                @include breakpoint(large down) {
                    padding: rem-calc(30 0 0 0);
                    flex-wrap: nowrap;

                    .home & {
                        padding: rem-calc(30 0);
                    }

                    .nav-active & {
                        overflow-y: auto;
                        overflow-x: hidden;
                    }
                }

                li {
                    opacity: 0;
                    pointer-events: none;
                    transform: translate3d(100%, 0, 0);
                    transition: all 0.5s ease;

                    .nav-active & {
                        opacity: 1;
                        transform: translate3d(0, 0, 0);
                        pointer-events: all;

                        &:nth-child(1) {
                            transition-delay: 0.2s;
                        }
                        &:nth-child(2) {
                            transition-delay: 0.3s;
                        }
                        &:nth-child(3) {
                            transition-delay: 0.4s;
                        }
                        &:nth-child(4) {
                            transition-delay: 0.5s;
                        }
                        &:nth-child(5) {
                            transition-delay: 0.6s;
                        }
                        &:nth-child(6) {
                            transition-delay: 0.7s;
                        }
                    }

                    a {
                        color: $primary-color;
                        text-align: right;
                        font-size: 7vh;
                        text-transform: uppercase;
                        font-weight: 300;
                        padding: rem-calc(15 70);
                        background: transparent !important;
                        transition: all 0.3s ease;

                        &:hover {
                            color: #fff;
                        }

                        @include breakpoint(large down) {
                            font-size: rem-calc(27);
                            padding: rem-calc(15 30);
                            text-align: left;
                        }

                        @include breakpoint(small down) {
                            padding: rem-calc(5 30);
                        }

                        .home & {
                            color: $secondary-color;

                            &:hover {
                                color: #fff;
                            }

                            @include breakpoint(large down) {
                                color: $primary-color;
                            }
                        }
                    }
                }
            }
        }
    }

    .overflow {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba($white, 0.8);
        opacity: 0;
        pointer-events: none;
        transition: all 0.5s ease;
        cursor: pointer;

        @include breakpoint(large down) {
            display: none;
        }

        .nav-active & {
            opacity: 1;
            pointer-events: all;
        }
    }
}

.page-template-template-contact {

    .navigation {

        &:before {
            content: '';
            display: block;
            width: 30%;
            height: 100vh;
            position: absolute;
            right: rem-calc(206);
            top: 0;
            background: url(../images/sterrn_kontakt.jpg) no-repeat center center;
            background-size: cover;

            @include breakpoint(large down) {
                right: 0;
            }

            @include breakpoint(medium down) {
                display: none;
            }
        }
    }
}

.menu-quote {
    padding: rem-calc(30);
    margin-top: rem-calc(20);
    order: 2;
    background: $primary-color;
    color: $secondary-color;
    display: none;

    h2 {
        font-size: rem-calc(44);
        letter-spacing: 0.075em;
        font-weight: 300;
        color: $secondary-color;
        text-transform: uppercase;
        line-height: 1.182;
        margin: 0;
        font-size: rem-calc(27);
    }

    @include breakpoint(large down) {
        display: block;

        .home & {
            display: none;
        }
    }
}
