.team {

    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .content {
        padding: rem-calc(165 80 80);

        @include breakpoint(large down) {
            padding: rem-calc(118 30 30 30);
        }
    }

    .team-content-top {
        font-size: rem-calc(40);
        font-weight: 300;
        line-height: 1.15;

        @include breakpoint(medium down) {
            font-size: rem-calc(27);
        }

        p {
            line-height: 1.2;
            letter-spacing: 0.075em;
            font-style: italic;
        }

        *:last-child {
            margin: 0;
        }
    }

    .team-bottom {
        flex-grow: 1;
        position: relative;
        padding-left: 40%;

        @include breakpoint(medium down) {
            padding-left: 0;
        }

        &:before {
            content: '';
            display: block;
            width: 40%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: url(../images/sterrn_zespol.jpg) no-repeat center center;
            background-size: cover;

            @include breakpoint(medium down) {
                width: 100%;
                height: auto;
                padding-bottom: 50%;
                position: relative;
            }
        }

        div {
            padding: 0 15%;
            font-size: rem-calc(18);

            @include breakpoint(medium down) {
                padding: rem-calc(30 30 0 30);
            }

            &:after {
                content: '';
                display: block;
                width: rem-calc(59);
                height: rem-calc(165);
                background: url(../images/arrow_team-01.svg) no-repeat center center;
                background-size: contain;
                margin-top: rem-calc(50);
                margin-left: rem-calc(-22);

                @include breakpoint(medium down) {
                    display: none;
                }
            }
        }
    }
}

.team-listing {
    padding: rem-calc(0 80 80);

    @include breakpoint(medium down) {
        padding: rem-calc(0 30 30);
    }

    .team-listing-item {
        padding-bottom: rem-calc(60);
    }

    h2 {
        font-size: rem-calc(40);
        font-weight: 300;
        line-height: 1.1;
        margin: rem-calc(50 0);
        letter-spacing: 0.075em;

        @include breakpoint(medium down) {
            font-size: rem-calc(22);
        }
    }

    .team-listing-image {
        position: relative;
        overflow: hidden;

        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: rgba($primary-color, 0.75);
            transform: translate3d(0, 102%, 0);
            transition: all 0.5s ease;
        }

        &:after {
            content: '';
            background: url(../images/loupe.svg) no-repeat center center;
            background-size: contain;
            display: block;
            width: rem-calc(50);
            height: rem-calc(50);
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: rem-calc(-25);
            margin-left: rem-calc(-25);
            transform: translate3d(0, 100%, 0);
            transition: all 0.5s ease;
            z-index: 2;
            opacity: 0;
        }
    }

    .team-listing-item:hover .team-listing-image:before {
        transform: translate3d(0,0,0);
    }
    .team-listing-item:hover .team-listing-image:after {
        transform: translate3d(0,0,0);
        opacity: 1;
    }

    img {
        width: 100%;
    }

    h3 {
        margin-top: rem-calc(30);
        margin-bottom: rem-calc(0);
        font-size: rem-calc(26);
        letter-spacing: 0.05em;
    }

    p {
        color: $secondary-color;
        font-size: rem-calc(18);
        margin: 0;
        letter-spacing: 0.05em;
    }
}

.team-single {

    .content {
        padding: rem-calc(165 80 80);

        @include breakpoint(large down) {
            padding: rem-calc(118 30 30 30);
        }
    }

    .wp-post-image {
        width: 100%;
    }

    .team-single-content {

        header {
            margin-bottom: rem-calc(30);

            @include breakpoint(large down) {
                margin-top: rem-calc(30);
            }

            h1 {
                margin-bottom: rem-calc(0);
                font-size: rem-calc(26);
                letter-spacing: 0.05em;
            }

            p {
                color: $secondary-color;
                font-size: rem-calc(18);
                margin: 0;
                letter-spacing: 0.05em;
            }
        }
    }

    .team-listing {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
}
